<link rel="stylesheet" href="css/sb-admin-2.css">
<link href="css/sb-admin-2.min.css" rel="stylesheet">
<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  {{> admin_sidebar}}
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content mt-5">

      <!-- Topbar -->
      {{> admin_navbar}}
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">House</h1>
        </div>

        <!-- Content Row -->
        <div class="row">
          {{> admin/nav/house}}
      </div>

        <!-- Content Row -->
        <div class="row">
          <div class="col-12 mb-4">
            <!-- Approach -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Create House</h6>
              </div>
              <div class="card-body">
                <form id="create-new-user" class="user needs-validation" action="/admin/house" method="POST"
                  novalidate>
                  <div class="form-group">
                    <textarea type="text" name="location" class="form-control form-control-user rounded-1" id="location"
                      placeholder="Enter House Address..." required></textarea>
                    <div class="invalid-feedback">
                     Address is required
                    </div>
                  </div>

                  <div class="form-group">
                    <input type="number" name="size" class="form-control form-control-user" id="size"
                      placeholder="House Size in square meters..." required>
                    <div class="invalid-feedback">
                     Size is required
                    </div>
                  </div>

                  <div class="form-group">
                    <input type="number" name="number_0f_rooms" class="form-control form-control-user" id="room_no"
                      placeholder="number of rooms..." required>
                    <div class="invalid-feedback">
                     room is required
                    </div>
                  </div>
                  
                  <hr>
                  <ul id="error" class="text-danger col-12"></ul>

                  <div class="spinner-border col-12 d-none" id="status" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>

                  <button type="submit" id="btn" class="btn btn-primary btn-user btn-block">
                    Create
                  </button>
                  <hr>
                </form>
              </div>
            </div>

          </div>
        </div>

      </div>
      <!-- /.container-fluid -->

    </div>

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->


<!-- Core plugin JavaScript-->
<script type="module" src="js/user.js"></script>


<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>